.program-container {
  position: relative;
  // width: 145px;
  // height: 88px;
  background: #6464c8;
  padding: 4px;
}

.program-name-text {
  font-size: 10px;
  font-family: "mishmash";
  color: white;
  pointer-events: none;
}

.program-time-text {
  font-size: 8px;
  font-family: "mishmash";
  color: white;
  pointer-events: none;
}

.program-icon-image {
  width: 45px;
  height: 45px;
}

.program-resource-grid {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
