.common-resource-display-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-resource-display-background {
  position: absolute;
  width: 45px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.common-resource-display-image {
  width: 35px;
  height: 35px;
}

.common-resource-display-text {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  margin-left: 4px;
  color: white;
  pointer-events: none;
}
