.menu_bg_left {
  background: url("@assets/games/backgrounds/menu_bg_left.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  padding-top: 15px;
}

.new_left_top {
  width: 117px;
  height: 37px;
  background-image: url("@assets/games/backgrounds/menu_top_bg.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.left-top,
.left-middle,
.left-bottom {
  width: 190px;
  background-size: contain;
}

.left-top {
  height: 190px;
  background-image: url("@assets/games/backgrounds/left_top.png");
  background-repeat: no-repeat;
}

.left-middle {
  flex-grow: 1;
  background-image: url("@assets/games/backgrounds/left_mid.png");
  background-repeat: repeat-y;
}

.left-bottom {
  height: 190px;
  background-image: url("@assets/games/backgrounds/left_bottom.png");
  background-repeat: no-repeat;
}

.left-creature-grid {
  margin: 12px 10px;
  height: calc(100% - 110px);
  background-image: url("@assets/games/backgrounds/left_menu_card.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.left-creature-page-selector {
  width: 134px;
  height: 25px;
  margin: auto;
}

.left-corner-bar {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  right: -2px;
}

.left-middle-bar {
  position: absolute;
  width: 32px;
  height: 125px;
  top: 50%;
  right: -20px;
  /* transform: translate(-50%, -50%); */
}
