.main-content-wrapper {
  flex: 1;
  /* background-image: url("@assets/games/backgrounds/center_bg.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  font-size: 24px;
  position: relative;
  z-index: 3;
}

.main-content {
  /* position: absolute; */
  /* transform: scale(0.5); */
  /* right: 0; */
  /* top: 12px; */
  /* width: 100%; */
}

.main-info-container {
  position: absolute;
  height: 125px;
  width: 203px;
}

.main-info-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes Disc {
  0% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_00.png");
  }
  3.45% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_01.png");
  }
  6.9% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_02.png");
  }
  10.35% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_03.png");
  }
  13.8% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_04.png");
  }
  17.25% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_05.png");
  }
  20.7% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_06.png");
  }
  24.15% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_07.png");
  }
  27.6% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_08.png");
  }
  31.05% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_09.png");
  }
  34.5% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_10.png");
  }
  37.95% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_11.png");
  }
  41.4% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_12.png");
  }
  44.85% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_13.png");
  }
  48.3% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_14.png");
  }
  51.75% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_15.png");
  }
  55.2% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_16.png");
  }
  58.65% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_17.png");
  }
  62.1% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_18.png");
  }
  65.55% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_19.png");
  }
  69% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_20.png");
  }
  72.45% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_21.png");
  }
  75.9% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_22.png");
  }
  79.35% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_23.png");
  }
  82.8% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_24.png");
  }
  86.25% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_25.png");
  }
  89.7% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_26.png");
  }
  93.15% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_27.png");
  }
  96.6% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_28.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_29.png");
  }
}

.main-circle-container {
  position: absolute;
  height: 259.4px;
  width: 295.96px;
  right: 30px;
  right: 5px;
  top: 8px;
  transform: scale(0.5) translate(50%, -50%);
}

.main-circle-container-new {
  position: absolute;
  width: 366px;
  height: 393px;
  left: -57px;
  top: -48px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  &.show {
    animation: Disc 1s steps(30);
    z-index: 1;
    opacity: 1;
  }
}

.main-circle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("@assets/games/backgrounds/circle_new.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes unlockFrames {
  0% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_01.png");
  }
  11% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_02.png");
  }
  22% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_03.png");
  }
  33% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_04.png");
  }
  44% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_05.png");
  }
  56% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_06.png");
  }
  67% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_07.png");
  }
  78% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_08.png");
  }
  89% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_09.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_10.png");
  }
}

.main-bot-creating-animation {
  position: absolute;
  width: 390px;
  height: 390px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  animation: unlockFrames 1s steps(11);
}

.lighting-animation-right {
  position: absolute;
  right: 10%;
  top: 16%;
  transform: rotate(-45deg);
  width: 632px;
  height: 402px;
  background-size: contain;
  background-repeat: no-repeat;
  &.show {
    animation: lighting 1.5s steps(23);
  }
}
@media (max-width: 1920px) {
  .main-pillars {
    top: -10%;
    transform: scale(0.8);
  }
  .main-zombie-open-animation {
    transform: scale(0.8) translate(-40%, -40%);
  }
}
@media (max-width: 1720px) {
  .main-pillars {
    top: -10%;
    left: 0;
    transform: scale(0.7);
  }
  .main-zombie-open-animation {
    transform: scale(0.8) translate(-50%, -40%);
  }
}
