.main-content-wrapper {
  flex: 1;
  background-image: url("@assets/games/backgrounds/center_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  font-size: 24px;
  position: relative;
  z-index: 3;
}

.main-content {
  position: absolute;
  transform: scale(0.5);
  right: 0;
  top: 12px;
  width: 100%;
}

.main-info-container {
  position: absolute;
  height: 125px;
  width: 203px;
}

.main-info-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes Disc {
  0% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_00.png");
  }
  3.45% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_01.png");
  }
  6.9% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_02.png");
  }
  10.35% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_03.png");
  }
  13.8% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_04.png");
  }
  17.25% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_05.png");
  }
  20.7% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_06.png");
  }
  24.15% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_07.png");
  }
  27.6% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_08.png");
  }
  31.05% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_09.png");
  }
  34.5% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_10.png");
  }
  37.95% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_11.png");
  }
  41.4% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_12.png");
  }
  44.85% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_13.png");
  }
  48.3% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_14.png");
  }
  51.75% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_15.png");
  }
  55.2% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_16.png");
  }
  58.65% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_17.png");
  }
  62.1% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_18.png");
  }
  65.55% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_19.png");
  }
  69% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_20.png");
  }
  72.45% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_21.png");
  }
  75.9% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_22.png");
  }
  79.35% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_23.png");
  }
  82.8% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_24.png");
  }
  86.25% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_25.png");
  }
  89.7% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_26.png");
  }
  93.15% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_27.png");
  }
  96.6% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_28.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Disc/yuanpan_29.png");
  }
}

.main-circle-container {
  position: absolute;
  height: 259.4px;
  width: 295.96px;
  right: 30px;
}

.main-circle-container-new {
  position: absolute;
  width: 366px;
  height: 393px;
  left: -57px;
  top: -48px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  &.show {
    animation: Disc 1s steps(30);
    z-index: 1;
    opacity: 1;
  }
}

.main-circle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("@assets/games/backgrounds/circle_new.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes unlockFrames {
  0% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_01.png");
  }
  11% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_02.png");
  }
  22% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_03.png");
  }
  33% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_04.png");
  }
  44% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_05.png");
  }
  56% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_06.png");
  }
  67% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_07.png");
  }
  78% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_08.png");
  }
  89% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_09.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Unlocks/unlock_animation_10.png");
  }
}

.main-bot-creating-animation {
  position: absolute;
  width: 390px;
  height: 390px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  animation: unlockFrames 1s steps(11);
}

@keyframes zombieClose {
  0% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_00.png");
  }
  5.26% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_01.png");
  }
  10.53% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_02.png");
  }
  15.79% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_03.png");
  }
  21.05% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_04.png");
  }
  26.32% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_05.png");
  }
  31.58% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_06.png");
  }
  36.84% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_07.png");
  }
  42.11% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_08.png");
  }
  47.37% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_09.png");
  }
  52.63% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_10.png");
  }
  57.89% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_11.png");
  }
  63.16% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_12.png");
  }
  68.42% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_13.png");
  }
  73.68% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_14.png");
  }
  78.95% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_15.png");
  }
  84.21% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_16.png");
  }
  89.47% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_17.png");
  }
  94.74% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_18.png");
  }
  100% {
    background-image: url("@assets/games/Animations/ZombieClose/guanji_19.png");
  }
}

.main-zombie-close-animation {
  position: absolute;
  width: 457px;
  height: 749px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  &.show {
    animation: zombieClose 0.66s steps(20);
  }
}

@keyframes zombieCircle {
  0% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_00.png");
  }
  2.56% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_01.png");
  }
  5.13% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_02.png");
  }
  7.69% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_03.png");
  }
  10.26% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_04.png");
  }
  12.82% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_05.png");
  }
  15.38% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_06.png");
  }
  17.95% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_07.png");
  }
  20.51% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_08.png");
  }
  23.08% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_09.png");
  }
  25.64% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_10.png");
  }
  28.21% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_11.png");
  }
  30.77% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_12.png");
  }
  33.33% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_13.png");
  }
  35.9% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_14.png");
  }
  38.46% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_15.png");
  }
  41.03% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_16.png");
  }
  43.59% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_17.png");
  }
  46.15% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_18.png");
  }
  48.72% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_19.png");
  }
  51.28% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_20.png");
  }
  53.85% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_21.png");
  }
  56.41% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_22.png");
  }
  58.97% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_23.png");
  }
  61.54% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_24.png");
  }
  64.1% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_25.png");
  }
  66.67% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_26.png");
  }
  69.23% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_27.png");
  }
  71.79% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_28.png");
  }
  74.36% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_29.png");
  }
  76.92% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_30.png");
  }
  79.49% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_31.png");
  }
  82.05% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_32.png");
  }
  84.62% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_33.png");
  }
  87.18% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_34.png");
  }
  89.74% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_35.png");
  }
  92.31% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_36.png");
  }
  94.87% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_37.png");
  }
  97.44% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_38.png");
  }
  100% {
    background-image: url("@assets/games/Animations/ZombieCircle/xunhuan_39.png");
  }
}

.main-zombie-circle-animation {
  position: absolute;
  width: 457px;
  height: 749px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  &.show {
    animation: zombieCircle 1.33s steps(40) infinite;
  }
}

@keyframes zombieOpen {
  0% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_20.png");
  }
  5.26% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_21.png");
  }
  12.53% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_22.png");
  }
  15.79% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_23.png");
  }
  21.25% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_24.png");
  }
  26.32% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_25.png");
  }
  31.58% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_26.png");
  }
  36.84% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_27.png");
  }
  42.11% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_28.png");
  }
  47.37% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_29.png");
  }
  52.63% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_30.png");
  }
  57.89% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_31.png");
  }
  63.36% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_32.png");
  }
  68.42% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_33.png");
  }
  73.68% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_34.png");
  }
  78.95% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_35.png");
  }
  84.23% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_36.png");
  }
  89.47% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_37.png");
  }
  94.74% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_38.png");
  }
  100% {
    background-image: url("@assets/games/Animations/ZombieOpen/kaiji_39.png");
  }
}

.main-zombie-open-animation {
  position: absolute;
  width: 457px;
  height: 749px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  background-image: url("@assets/games/Animations/ZombieOpen/kaiji_20.png");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  &.show {
    animation: zombieOpen 0.66s steps(20) forwards,
      zombieCircle 1.33s steps(40) 0.66s 3 forwards,
      zombieClose 0.66s steps(20) 4.65s forwards;
  }
  &.hidden {
    opacity: 0;
  }
}

@keyframes pillars {
  0% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_00.png");
  }
  3.45% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_01.png");
  }
  6.9% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_02.png");
  }
  10.35% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_03.png");
  }
  13.8% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_04.png");
  }
  17.25% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_05.png");
  }
  20.7% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_06.png");
  }
  24.15% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_07.png");
  }
  27.6% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_08.png");
  }
  31.05% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_09.png");
  }
  34.5% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_10.png");
  }
  37.95% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_11.png");
  }
  41.4% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_12.png");
  }
  44.85% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_13.png");
  }
  48.3% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_14.png");
  }
  51.75% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_15.png");
  }
  55.2% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_16.png");
  }
  58.65% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_17.png");
  }
  62.1% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_18.png");
  }
  65.55% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_19.png");
  }
  69% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_20.png");
  }
  72.45% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_21.png");
  }
  75.9% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_22.png");
  }
  79.35% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_23.png");
  }
  82.8% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_24.png");
  }
  86.25% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_25.png");
  }
  89.7% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_26.png");
  }
  93.15% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_27.png");
  }
  96.6% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_28.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Pillars/guangzhu_29.png");
  }
}
.main-pillars {
  position: absolute;
  left: 10%;
  top: 4%;
}
.main-pillars-animation {
  width: 503px;
  height: 686px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("@assets/games/Animations/Pillars/guangzhu_00.png");
  animation: pillars 5s steps(30) infinite;
}

.main-pillars-base {
  position: absolute;
  top: 68%;
  background-image: url("@assets/games/backgrounds/pillars_base.png");
  width: 503px;
  height: 372px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.lighting-animation-right {
  position: absolute;
  right: 10%;
  top: 16%;
  transform: rotate(-45deg);
  width: 632px;
  height: 402px;
  background-size: contain;
  background-repeat: no-repeat;
  &.show {
    animation: lighting 1.5s steps(23);
  }
}
@media (max-width: 1920px) {
  .main-pillars {
    top: -10%;
    transform: scale(0.8);
  }
  .main-zombie-open-animation {
    transform: scale(0.8) translate(-40%, -40%);
  }
}
@media (max-width: 1720px) {
  .main-pillars {
    top: -10%;
    left: 0;
    transform: scale(0.7);
  }
  .main-zombie-open-animation {
    transform: scale(0.8) translate(-50%, -40%);
  }
}

.lighting-animation-left {
  position: absolute;
  left: 16%;
  top: 16%;
  transform: rotate(45deg);
  width: 632px;
  height: 402px;
  background-size: contain;
  background-repeat: no-repeat;
  &.show {
    animation: lighting 1.5s steps(23);
  }
}

@keyframes lighting {
  0% {
    background-image: url("@assets/games/Animations/Lighting/glow_00.png");
  }
  2.17% {
    background-image: url("@assets/games/Animations/Lighting/glow_01.png");
  }
  4.35% {
    background-image: url("@assets/games/Animations/Lighting/glow_02.png");
  }
  6.52% {
    background-image: url("@assets/games/Animations/Lighting/glow_03.png");
  }
  8.7% {
    background-image: url("@assets/games/Animations/Lighting/glow_04.png");
  }
  10.87% {
    background-image: url("@assets/games/Animations/Lighting/glow_05.png");
  }
  13.04% {
    background-image: url("@assets/games/Animations/Lighting/glow_06.png");
  }
  15.22% {
    background-image: url("@assets/games/Animations/Lighting/glow_07.png");
  }
  17.39% {
    background-image: url("@assets/games/Animations/Lighting/glow_08.png");
  }
  19.57% {
    background-image: url("@assets/games/Animations/Lighting/glow_09.png");
  }
  21.74% {
    background-image: url("@assets/games/Animations/Lighting/glow_10.png");
  }
  23.91% {
    background-image: url("@assets/games/Animations/Lighting/glow_11.png");
  }
  26.09% {
    background-image: url("@assets/games/Animations/Lighting/glow_12.png");
  }
  28.26% {
    background-image: url("@assets/games/Animations/Lighting/glow_13.png");
  }
  30.43% {
    background-image: url("@assets/games/Animations/Lighting/glow_14.png");
  }
  32.61% {
    background-image: url("@assets/games/Animations/Lighting/glow_15.png");
  }
  34.78% {
    background-image: url("@assets/games/Animations/Lighting/glow_16.png");
  }
  36.96% {
    background-image: url("@assets/games/Animations/Lighting/glow_17.png");
  }
  39.13% {
    background-image: url("@assets/games/Animations/Lighting/glow_18.png");
  }
  41.3% {
    background-image: url("@assets/games/Animations/Lighting/glow_19.png");
  }
  43.48% {
    background-image: url("@assets/games/Animations/Lighting/glow_20.png");
  }
  45.65% {
    background-image: url("@assets/games/Animations/Lighting/glow_21.png");
  }
  47.83% {
    background-image: url("@assets/games/Animations/Lighting/glow_22.png");
  }
  50% {
    background-image: url("@assets/games/Animations/Lighting/glow_23.png");
  }
  52.17% {
    background-image: url("@assets/games/Animations/Lighting/glow_24.png");
  }
  54.35% {
    background-image: url("@assets/games/Animations/Lighting/glow_25.png");
  }
  56.52% {
    background-image: url("@assets/games/Animations/Lighting/glow_26.png");
  }
  58.7% {
    background-image: url("@assets/games/Animations/Lighting/glow_27.png");
  }
  60.87% {
    background-image: url("@assets/games/Animations/Lighting/glow_28.png");
  }
  63.04% {
    background-image: url("@assets/games/Animations/Lighting/glow_29.png");
  }
  65.22% {
    background-image: url("@assets/games/Animations/Lighting/glow_30.png");
  }
  67.39% {
    background-image: url("@assets/games/Animations/Lighting/glow_31.png");
  }
  69.57% {
    background-image: url("@assets/games/Animations/Lighting/glow_32.png");
  }
  71.74% {
    background-image: url("@assets/games/Animations/Lighting/glow_33.png");
  }
  73.91% {
    background-image: url("@assets/games/Animations/Lighting/glow_34.png");
  }
  76.09% {
    background-image: url("@assets/games/Animations/Lighting/glow_35.png");
  }
  78.26% {
    background-image: url("@assets/games/Animations/Lighting/glow_36.png");
  }
  80.43% {
    background-image: url("@assets/games/Animations/Lighting/glow_37.png");
  }
  82.61% {
    background-image: url("@assets/games/Animations/Lighting/glow_38.png");
  }
  84.78% {
    background-image: url("@assets/games/Animations/Lighting/glow_39.png");
  }
  86.96% {
    background-image: url("@assets/games/Animations/Lighting/glow_40.png");
  }
  89.13% {
    background-image: url("@assets/games/Animations/Lighting/glow_41.png");
  }
  91.3% {
    background-image: url("@assets/games/Animations/Lighting/glow_42.png");
  }
  93.48% {
    background-image: url("@assets/games/Animations/Lighting/glow_43.png");
  }
  95.65% {
    background-image: url("@assets/games/Animations/Lighting/glow_44.png");
  }
  97.83% {
    background-image: url("@assets/games/Animations/Lighting/glow_45.png");
  }
  100% {
    background-image: url("@assets/games/Animations/Lighting/glow_45.png");
  }
}
