.reboot-button {
  /* width: 15.6%;
    height: 14.8%;
    bottom: 7%;
    left: 10%; */
  width: 93.15px;
  height: 68.98px;
  bottom: -36%;
  left: 51%;
  position: absolute;
  transform: translate(-50%, -50%);
}
