.menu_bg_right {
  background: url("@assets/games/backgrounds/menu_bg_right.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.menu_card {
  background: url("@assets/games/backgrounds/menu_card.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
