.menu_bg_right {
  padding: 15px 0 0;
  background: url("@assets/games/backgrounds/menu_bg_right.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.menu_card {
  margin: 12px 10px;
  background: url("@assets/games/backgrounds/menu_card.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.new_right_top {
  width: 117px;
  height: 37px;
  background-image: url("@assets/games/backgrounds/menu_top_bg.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}
